{
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  },
  "env": {
    "jest": true
  }
}
